{
  "openapi": "3.0.1",
  "info": {
    "title": "Cinode API",
    "description": "Cinode's Open API",
    "termsOfService": "https://cinode.com/en/terms/api-terms-of-service",
    "contact": {
      "name": "Cinode Support",
      "url": "https://support.cinode.com/"
    },
    "license": {
      "name": "Cinode AB",
      "url": "https://www.cinode.com"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.cinode.com"
    }
  ],
  "paths": {
    "/v0.1/companies/{companyId}/users/{companyUserId}/absences/{id}": {
      "get": {
        "tags": [
          "Absence"
        ],
        "summary": "Get absence period by id",
        "operationId": "Absence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your company id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "The id of the actual user",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id for the requested absence period",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Absence"
        ],
        "summary": "Update Absence Item for User",
        "operationId": "UpdateAbsence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "CompanyUser Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Absence Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "CompanyUserProfileCommitmentAddEditModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Absence"
        ],
        "summary": "Delete absence",
        "operationId": "DeleteAbsence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/users/{companyUserId}/absences": {
      "post": {
        "tags": [
          "Absence"
        ],
        "summary": "Create Absence Item for User",
        "operationId": "NewAbsence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "CompanyUser Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "CompanyUserProfileCommitmentAddEditModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "All went well"
          }
        }
      },
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get absence period by company user id",
        "operationId": "Absences",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your Cinode Company id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "The id of the actual User",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request"
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/absence/types": {
      "get": {
        "tags": [
          "AbsenceType"
        ],
        "summary": "Get absence types for company",
        "operationId": "AbsenceTypes",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/availability": {
      "post": {
        "tags": [
          "Availability"
        ],
        "summary": "Get availability for company users. Omitting companyUserId gets availability for all company users in company.",
        "operationId": "SearchAvailability",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your Cinode Company id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Filter options",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request"
          }
        }
      }
    },
    "/v0.1/companies/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get company by id",
        "operationId": "Company",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "CompanyId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/addresses/{id}/users": {
      "get": {
        "tags": [
          "CompanyAddressUsers"
        ],
        "summary": "Get company users list for an address",
        "operationId": "CompanyAddressUsers",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{id}": {
      "get": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Get Candidate by Id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "Candidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Patch company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "PatchCompanyCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Only certain properties on the user are patchable. See the generated example for a list of available properties, using the `op: \"replace\"` as example. See the generated schema for `ICompanyCandidatePatchDocument` for full type information per property",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              },
              "example": [{"value":0,"path":"/pipelineid","op":"replace"},{"value":0,"path":"/pipelinestageid","op":"replace"},{"value":0,"path":"/recruitmentmanagerid","op":"replace"},{"value":0,"path":"/state","op":"replace"},{"value":"2024-02-24T20:48:50.0685193+01:00","path":"/availablefromdate","op":"replace"},{"value":"string","path":"/campaigncode","op":"replace"}]
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Delete candidate from the system\r\nThis action is irreversible, use with caution",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "DeleteCompanyCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates": {
      "post": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Create Candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "AddCompanyCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "CompanyCandidateAddModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "All went well"
          }
        }
      },
      "get": {
        "tags": [
          "CompanyCandidates"
        ],
        "summary": "Get Candidates",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "Candidates",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{id}/invite": {
      "post": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Invite the CompanyCandidate to create their own Cinode account\r\nA email is sent with your message and details for how to login",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "InviteCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Model with data about the candidate needed for the invitation",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/{id}": {
      "get": {
        "tags": [
          "CompanyCandidateEvent"
        ],
        "summary": "Get company candidates event by id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "CompanyCandidateEvent",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/meetings/{id}": {
      "get": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Get company candidates meeting event with specified id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "CompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Update meeting event for company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "UpdateCompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Meeting Event details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Delete company candidate meeting event",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "DeleteCompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/meetings": {
      "post": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Add new meeting event for company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "NewCompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Meeting Event details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "All went well"
          }
        }
      },
      "get": {
        "tags": [
          "CompanyCandidateEventMeetings"
        ],
        "summary": "Get company candidates events meetings list",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "CompanyCandidateMeetingEventList",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateEventBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateEventBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateEventBaseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateEventBaseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateEventBaseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/notes/{id}": {
      "get": {
        "tags": [
          "CompanyCandidateEventNote"
        ],
        "summary": "Get company candidates note event with specified id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "CompanyCandidateEventNote",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CompanyCandidateEventNote"
        ],
        "summary": "Update note event for company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "UpdateCompanyCandidateEventNote",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Note Event details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventNoteAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventNoteAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventNoteAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventNoteAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventNoteModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CompanyCandidateEventNote"
        ],
        "summary": "Delete company candidate note event",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "DeleteCompanyCandidateEventNote",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/notes": {
      "post": {
        "tags": [
          "CompanyCandidateEventNote"
        ],
        "summary": "Add new note event for company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "NewCompanyCandidateEventNote",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Note Event details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventNoteAddEditModel"
                  }
                ]
[...]
